/* URLShortenComponent.css */
/*cbafc2*/
.concept {

    padding: 0px;
    border-radius: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 75vh;
    margin-top: 0; /* Remove the space at the top */
}


/* Heading style */
.concept h2 {
    color: #000000;
    font-size: 80px;
    margin-bottom: 20px;
    background-color: #dfcde1; /* Add a background color */
    padding: 10px 20px; /* Add padding to create a box around the text */
    border-radius: 10px; /* Add rounded corners */
    color: #070707; /* Text color */
    text-align: center;
    width: fit-content; /* Make the box width fit the content */
}

/* Style for the main input field and select element */
.concept .main-container {
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin-bottom: 10px; /* Increased margin for spacing */
}

/* URLShortenComponent.css */

/* Container for the entire component */
/* Concept.css */



/* Style for the button */
.concept button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 15px; /* Add margin to the top to push it down */
}

/* Style for the main input field and select element */
.concept .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px; /* Adjust the maximum width as needed */
    margin-bottom: 15px; /* Adjust spacing between elements */
}

/* Concept.css */

/* Style for the input fields and select element */
.concept input[type="text"],
.concept select,
.concept input[name="desiredURL"] {
    width: 100%; /* Set the same width for all input elements */
    padding: 15px; /* Increased padding */
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    font-size: 20px; /* Increased font size */
}

/* Hover effect for the button */
.concept button:hover {
    background-color: #87acd4;
}


/* Style for the paragraph displaying the shortened URL */
.concept p {
    margin-top: 20px;
    font-size: 40px;
    font-weight: bold;
    word-break: break-all; /* Ensure long URLs break properly */
    
}
