.account-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
  }
  
  .account-content {
    padding: 20px;

  }
  
  .account-info {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 20px;
    width: 100%;
    max-width: 400px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    
    margin: 0 auto; }
  
  .account-info p {
    font-size: 1rem;
    line-height: 1.6;
    color: #333;
  }
  
  